matt.json
{
  "options": {
    "version": 70,
    "flowtime_version": {
      "pre": [],
      "patch": 2,
      "minor": 8,
      "major": 0,
      "build": null
    }
  },
  "module": "Elixir.Workspace_matt",
  "id": "matt",
  "flowsHash": "ac507cc1a99e15dd94319954034ce371",
  "flows": [
    {
      "type": "tab",
      "label": "Flow 1",
      "id": "ba0f9d61.4960f"
    },
    {
      "z": "",
      "vendor": "postgres",
      "type": "sql-database-connection",
      "port": "1433",
      "id": "811ab6ed.dba3e",
      "hostname": "localhost",
      "database": "flowtime"
    },
    {
      "z": "ba0f9d61.4960f",
      "y": 113,
      "x": 112.5,
      "wires": [
        [
          "ba30867d.d06ee8"
        ]
      ],
      "url": "/cors",
      "type": "http in",
      "swaggerDoc": "",
      "name": "",
      "method": "get",
      "id": "cfd3861d.0aa278"
    },
    {
      "z": "ba0f9d61.4960f",
      "y": 540,
      "x": 570,
      "wires": [],
      "type": "debug",
      "name": "",
      "id": "e773419b.30003",
      "console": "false",
      "complete": "false",
      "active": true
    },
    {
      "z": "ba0f9d61.4960f",
      "y": 240,
      "x": 390,
      "wires": [
        [
          "b61f7d6e.5a05f8"
        ]
      ],
      "type": "identifier",
      "name": "",
      "idtype": "shortid",
      "id": "ba30867d.d06ee8",
      "destt": "msg",
      "dest": "payload"
    },
    {
      "z": "ba0f9d61.4960f",
      "y": 420,
      "x": 120,
      "wires": [
        [
          "ba30867d.d06ee8"
        ]
      ],
      "type": "inject",
      "topic": "",
      "repeat": "",
      "payloadType": "date",
      "payload": "",
      "once": false,
      "name": "",
      "id": "f27fe106.cf5e6",
      "crontab": ""
    },
    {
      "z": "ba0f9d61.4960f",
      "y": 420,
      "x": 420,
      "wires": [
        [
          "e773419b.30003"
        ]
      ],
      "type": "function",
      "outputs": 1,
      "noerr": 0,
      "name": "",
      "id": "b61f7d6e.5a05f8",
      "func": "\nreturn msg;"
    }
  ],
  "enabled": false
}