sql.json
{"options":{"version":95,"flowtime_version":{"minor":18,"major":0}},"module":"Elixir.Workspace_sql","id":"sql","flowsHash":"95050be835567b3f97b47bbdb381fff6","flows":[{"type":"tab","label":"LAN SQL Server","id":"d3663379.3fd168"},{"type":"tab","label":"Azure","id":"5a4776d6.a73ce8"},{"type":"tab","label":"Postgres","id":"1d43b9ab.fa718e"},{"z":"","vendor":"sqlserver","type":"sql-database-connection","servername":"","port":"1433","id":"aa1679f0.a12478","hostname":"192.168.4.13","encrypt":true,"encodeUuids":"buffer","database":"flowtime"},{"z":"","vendor":"sqlserver","type":"sql-database-connection","servername":"ecm-dev-sql","port":"1433","id":"658d55da.244aec","hostname":"ecm-dev-sql.database.windows.net","encrypt":true,"encodeUuids":"string","database":"ECM-VDS-Dev"},{"z":"","vendor":"postgres","type":"sql-database-connection","servername":"","port":"","id":"b1bd0ae1.205b78","hostname":"localhost","encrypt":false,"encodeUuids":"lstring","database":"flowtime"},{"z":"d3663379.3fd168","y":60,"x":250,"wires":[["10f3c70f.36ae89"]],"type":"sql","query":"select * from guid","name":"","id":"b1b3935f.c5efc","connection":"aa1679f0.a12478"},{"z":"d3663379.3fd168","y":60,"x":100,"wires":[["b1b3935f.c5efc"]],"type":"inject","topic":"","repeat":"","payloadType":"date","payload":"","once":false,"name":"","id":"c7a612cb.cbb83","crontab":""},{"z":"d3663379.3fd168","y":140,"x":250,"wires":[["10f3c70f.36ae89"]],"type":"sql","query":"SELECT COLUMN_NAME, DATA_TYPE \nFROM INFORMATION_SCHEMA.COLUMNS \nWHERE TABLE_NAME = 'guid'","name":"","id":"dc472076.7a1388","connection":"aa1679f0.a12478"},{"z":"d3663379.3fd168","y":140,"x":100,"wires":[["dc472076.7a1388"]],"type":"inject","topic":"","repeat":"","payloadType":"date","payload":"","once":false,"name":"","id":"a6a33bab.b5b388","crontab":""},{"z":"d3663379.3fd168","y":100,"x":510,"wires":[],"type":"debug","name":"","id":"10f3c70f.36ae89","console":"true","complete":"payload","active":true},{"z":"5a4776d6.a73ce8","y":140,"x":200,"wires":[["c7e41d17.0e6b98"]],"type":"sql","query":"SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE='BASE TABLE'","name":"","id":"29f2a2a8.4b3ee6","connection":"658d55da.244aec"},{"z":"5a4776d6.a73ce8","y":180,"x":360,"wires":[],"type":"debug","name":"","id":"c7e41d17.0e6b98","console":"true","complete":"payload","active":true},{"z":"5a4776d6.a73ce8","y":60,"x":100,"wires":[["29f2a2a8.4b3ee6"]],"type":"inject","topic":"","repeat":"","payloadType":"date","payload":"","once":false,"name":"","id":"4f72aa88.bd4064","crontab":""},{"z":"d3663379.3fd168","y":220,"x":260,"wires":[["10f3c70f.36ae89"]],"type":"sql","query":"select * from people","name":"All people","id":"6c5f3c54.ed5e24","connection":"aa1679f0.a12478"},{"z":"d3663379.3fd168","y":220,"x":100,"wires":[["6c5f3c54.ed5e24"]],"type":"inject","topic":"","repeat":"","payloadType":"date","payload":"","once":false,"name":"","id":"ae5ec731.8d9f68","crontab":""},{"z":"d3663379.3fd168","y":300,"x":290,"wires":[["10f3c70f.36ae89"]],"type":"sql","query":"select * from test","name":"Test 8- and 16-bit","id":"46f51615.cbf3f","connection":"aa1679f0.a12478"},{"z":"d3663379.3fd168","y":300,"x":100,"wires":[["46f51615.cbf3f"]],"type":"inject","topic":"","repeat":"","payloadType":"date","payload":"","once":false,"name":"","id":"5c9d5c89.e08994","crontab":""},{"z":"1d43b9ab.fa718e","y":100,"x":200,"wires":[["ed1faa5f.f34ba8"]],"type":"inject","topic":"","repeat":"","payloadType":"date","payload":"","once":false,"name":"","id":"d43164ce.8f2b8","crontab":""},{"z":"1d43b9ab.fa718e","y":180,"x":360,"wires":[["f3fb930e.b45658"]],"type":"sql","query":"SELECT * FROM test","name":"","id":"ed1faa5f.f34ba8","connection":"b1bd0ae1.205b78"},{"z":"1d43b9ab.fa718e","y":260,"x":560,"wires":[],"type":"debug","name":"","id":"f3fb930e.b45658","console":"false","complete":"false","active":true},{"z":"1d43b9ab.fa718e","y":340,"x":140,"wires":[["7a27f9c6.1fe43"]],"type":"inject","topic":"","repeat":"","payloadType":"date","payload":"","once":false,"name":"","id":"404da135.86e6f8","crontab":""},{"z":"1d43b9ab.fa718e","y":400,"x":420,"wires":[["5f1881bb.24c118"]],"type":"sql","query":"select * from ids","name":"UUID Select","id":"7a27f9c6.1fe43","connection":"b1bd0ae1.205b78"},{"z":"1d43b9ab.fa718e","y":500,"x":590,"wires":[],"type":"debug","name":"","id":"9dd9caf7.5567c8","console":"false","complete":"false","active":true},{"z":"1d43b9ab.fa718e","y":540,"x":240,"wires":[["1ca3225c.d3c02e"]],"type":"identifier","name":"","idtype":"guid","id":"80fd10db.3f4a2","destt":"msg","dest":"payload"},{"z":"1d43b9ab.fa718e","y":440,"x":120,"wires":[["80fd10db.3f4a2"]],"type":"inject","topic":"","repeat":"","payloadType":"date","payload":"","once":false,"name":"","id":"2924426.dc6233e","crontab":""},{"z":"1d43b9ab.fa718e","y":580,"x":450,"wires":[[]],"type":"sql","query":"insert into ids values\n({{msg.payload}}, 'Caliban')","name":"UUID Insert","id":"1ca3225c.d3c02e","connection":"b1bd0ae1.205b78"},{"z":"1d43b9ab.fa718e","y":420,"x":610,"wires":[["9dd9caf7.5567c8"]],"type":"function","outputs":1,"noerr":0,"name":"Passthrough","id":"5f1881bb.24c118","func":"\nreturn msg;"}],"enabled":false}