temp.json
{
  "options": {
    "version": 285,
    "flowtime_version": {
      "minor": 19,
      "major": 0
    }
  },
  "module": "Elixir.Workspace_temp",
  "id": "temp",
  "flowsHash": "f11e85648206e2cadcd5013334203e20",
  "flows": [
    {
      "type": "tab",
      "label": "Flow 1.7",
      "id": "8c5077e5.0a6ba8"
    },
    {
      "type": "subflow",
      "out": [
        {
          "y": 160,
          "x": 440,
          "wires": [
            {
              "port": 0,
              "id": "9b1422ef.d9523"
            }
          ]
        }
      ],
      "name": "Increment",
      "info": "",
      "in": [
        {
          "y": 30,
          "x": 50,
          "wires": [
            {
              "id": "9b1422ef.d9523"
            }
          ]
        }
      ],
      "id": "67b1d148.73d008"
    },
    {
      "z": "8c5077e5.0a6ba8",
      "y": 60,
      "x": 240,
      "wires": [
        [
          "6dbc3bea.b6cdb4",
          "9cceacd8.fa8fa8"
        ]
      ],
      "type": "inject",
      "topic": "",
      "repeat": "",
      "payloadType": "date",
      "payload": "",
      "once": false,
      "name": "",
      "id": "d4d0ad90.413de8",
      "crontab": ""
    },
    {
      "z": "67b1d148.73d008",
      "y": 100,
      "x": 290,
      "wires": [
        []
      ],
      "type": "elixir",
      "script": "value = msg[\"payload\"]\nContext.set context, \"value\", value\nMap.put msg, \"payload\", value + 1\n",
      "outputs": 1,
      "name": "Plus One",
      "id": "9b1422ef.d9523"
    },
    {
      "z": "8c5077e5.0a6ba8",
      "y": 220,
      "x": 120,
      "wires": [
        [
          "807cda56.84e65",
          "57292d68.304e7c"
        ]
      ],
      "type": "inject",
      "topic": "",
      "repeat": "",
      "payloadType": "date",
      "payload": "",
      "once": false,
      "name": "",
      "id": "ad1adb6e.070ba8",
      "crontab": ""
    },
    {
      "z": "8c5077e5.0a6ba8",
      "y": 60,
      "x": 740,
      "wires": [
        []
      ],
      "type": "change",
      "to": "",
      "rules": [
        {
          "tot": "num",
          "to": "42",
          "t": "set",
          "pt": "global",
          "p": "value"
        }
      ],
      "reg": false,
      "property": "",
      "name": "",
      "id": "6dbc3bea.b6cdb4",
      "from": "",
      "action": ""
    },
    {
      "z": "8c5077e5.0a6ba8",
      "y": 340,
      "x": 290,
      "wires": [
        [
          "1b17969c.0f33a1"
        ]
      ],
      "type": "function",
      "outputs": 1,
      "noerr": 0,
      "name": "Set π",
      "id": "807cda56.84e65",
      "func": "flow.set(\"pi\", 3.14159);\n\nmsg.payload = [0, 1, 31, -1, -15, -32];\n\nreturn msg;"
    },
    {
      "z": "8c5077e5.0a6ba8",
      "y": 400,
      "x": 550,
      "wires": [],
      "type": "debug",
      "name": "",
      "id": "1b17969c.0f33a1",
      "console": "false",
      "complete": "false",
      "active": true
    },
    {
      "z": "8c5077e5.0a6ba8",
      "y": 140,
      "x": 540,
      "wires": [
        [
          "1b17969c.0f33a1"
        ]
      ],
      "type": "subflow:67b1d148.73d008",
      "id": "9cceacd8.fa8fa8"
    },
    {
      "z": "8c5077e5.0a6ba8",
      "y": 200,
      "x": 330,
      "wires": [
        [
          "1b17969c.0f33a1"
        ]
      ],
      "type": "subflow:67b1d148.73d008",
      "name": "First",
      "id": "57292d68.304e7c"
    },
    {
      "z": "8c5077e5.0a6ba8",
      "y": 640,
      "x": 590,
      "wires": [],
      "type": "http response",
      "name": "",
      "id": "10e34a1.807c7b6"
    },
    {
      "z": "8c5077e5.0a6ba8",
      "y": 420,
      "x": 120,
      "wires": [
        [
          "510ac660.7ae968"
        ]
      ],
      "url": "/cat",
      "type": "http in",
      "swaggerDoc": "",
      "name": "",
      "method": "get",
      "id": "a1bf35e6.ae93c8"
    },
    {
      "z": "8c5077e5.0a6ba8",
      "y": 600,
      "x": 370,
      "wires": [
        [
          "10e34a1.807c7b6"
        ]
      ],
      "type": "file in",
      "name": "",
      "id": "510ac660.7ae968",
      "format": "",
      "filename": "~/Downloads/cat.jpg"
    }
  ],
  "enabled": true
}