test.json
{
  "options": {
    "version": 683,
    "port": 8200
  },
  "module": "Elixir.Workspace_test",
  "id": "test",
  "flows": [
    {
      "type": "tab",
      "label": "Loop",
      "id": "7102ea3d.1a460c"
    },
    {
      "type": "subflow",
      "out": [
        {
          "y": 260,
          "x": 640,
          "wires": [
            {
              "port": 0,
              "id": "90f4459f.8279b8"
            },
            {
              "port": 0,
              "id": "8f2865b3.c71798"
            }
          ]
        }
      ],
      "name": "Saved!",
      "info": "",
      "in": [
        {
          "y": 120,
          "x": 120,
          "wires": [
            {
              "id": "b0b0a4dc.cbbe3"
            }
          ]
        }
      ],
      "id": "386c8e12.edccea"
    },
    {
      "z": "7102ea3d.1a460c",
      "y": 240,
      "x": 160,
      "wires": [
        [
          "2d59cce0.e8dea4"
        ]
      ],
      "type": "inject",
      "repeat": "",
      "payloadType": "date",
      "payload": "",
      "once": false,
      "name": "",
      "id": "53642897.6abed",
      "crontab": ""
    },
    {
      "z": "7102ea3d.1a460c",
      "y": 260,
      "x": 590,
      "wires": [],
      "type": "debug",
      "srcType": "msg",
      "src": "payload",
      "name": "",
      "level": "info",
      "id": "4afc2817.dbf51",
      "console": "false",
      "active": true
    },
    {
      "z": "7102ea3d.1a460c",
      "y": 80,
      "x": 140,
      "wires": [
        [
          "be45f2e7.b4dd5"
        ]
      ],
      "type": "inject",
      "repeat": "",
      "payloadType": "date",
      "payload": "",
      "once": true,
      "name": "",
      "id": "ba4f71a7.5ba63",
      "crontab": ""
    },
    {
      "z": "7102ea3d.1a460c",
      "y": 100,
      "x": 340,
      "wires": [
        []
      ],
      "type": "change",
      "to": "",
      "rules": [
        {
          "tot": "num",
          "to": "42",
          "t": "set",
          "pt": "global",
          "p": "meaning"
        },
        {
          "tot": "str",
          "to": "meaning of life",
          "t": "set",
          "pt": "flow",
          "p": "question"
        }
      ],
      "reg": false,
      "property": "",
      "name": "",
      "id": "be45f2e7.b4dd5",
      "from": "",
      "action": ""
    },
    {
      "z": "7102ea3d.1a460c",
      "y": 260,
      "x": 380,
      "wires": [
        [
          "4afc2817.dbf51"
        ]
      ],
      "type": "template",
      "template": "The {{flow.question}} is {{global.meaning}}.",
      "ret": "string",
      "name": "",
      "id": "2d59cce0.e8dea4",
      "format": "handlebars",
      "fieldType": "msg",
      "field": "payload",
      "context": "all"
    },
    {
      "z": "386c8e12.edccea",
      "y": 180,
      "x": 420,
      "wires": [
        [
          "12fcadf9.aec952"
        ]
      ],
      "type": "change",
      "to": "",
      "rules": [
        {
          "tot": "msg",
          "to": "payload",
          "t": "set",
          "pt": "flow",
          "p": "saved"
        }
      ],
      "reg": false,
      "property": "",
      "name": "",
      "id": "90f4459f.8279b8",
      "from": "",
      "action": ""
    },
    {
      "z": "386c8e12.edccea",
      "y": 80,
      "x": 620,
      "wires": [],
      "type": "debug",
      "srcType": "str",
      "src": "Saved {{flow.saved}}",
      "name": "",
      "level": "info",
      "id": "12fcadf9.aec952",
      "console": "false",
      "active": true
    },
    {
      "z": "7102ea3d.1a460c",
      "y": 460,
      "x": 190,
      "wires": [
        [
          "41e9aa30.3e0f5c"
        ]
      ],
      "type": "inject",
      "repeat": "",
      "payloadType": "num",
      "payload": "1",
      "once": false,
      "name": "",
      "id": "52c5c7c6.94037",
      "crontab": ""
    },
    {
      "z": "7102ea3d.1a460c",
      "y": 420,
      "x": 400,
      "wires": [
        [
          "bd93cb4b.74fca8"
        ]
      ],
      "type": "subflow:386c8e12.edccea",
      "name": "",
      "id": "41e9aa30.3e0f5c"
    },
    {
      "z": "7102ea3d.1a460c",
      "y": 560,
      "x": 210,
      "wires": [
        [
          "2058edd9.bbe75a"
        ]
      ],
      "type": "inject",
      "repeat": "",
      "payloadType": "num",
      "payload": "2",
      "once": false,
      "name": "",
      "id": "8a473d3e.47677",
      "crontab": ""
    },
    {
      "z": "7102ea3d.1a460c",
      "y": 560,
      "x": 400,
      "wires": [
        [
          "1a1236bc.885131"
        ]
      ],
      "type": "subflow:386c8e12.edccea",
      "name": "",
      "id": "2058edd9.bbe75a"
    },
    {
      "z": "7102ea3d.1a460c",
      "y": 380,
      "x": 190,
      "wires": [
        [
          "41e9aa30.3e0f5c"
        ]
      ],
      "type": "inject",
      "repeat": "",
      "payloadType": "json",
      "payload": "null",
      "once": false,
      "name": "",
      "id": "393970ba.8d4c28",
      "crontab": ""
    },
    {
      "z": "7102ea3d.1a460c",
      "y": 380,
      "x": 630,
      "wires": [],
      "type": "debug",
      "srcType": "msg",
      "src": "payload",
      "name": "",
      "level": "info",
      "id": "bd93cb4b.74fca8",
      "console": "false",
      "active": true
    },
    {
      "z": "386c8e12.edccea",
      "y": 280,
      "x": 260,
      "wires": [
        [
          "90f4459f.8279b8"
        ],
        [
          "8f2865b3.c71798",
          "a1868a69.ad9558"
        ]
      ],
      "type": "switch",
      "rules": [
        {
          "t": "nnull"
        },
        {
          "t": "else"
        }
      ],
      "propertyType": "msg",
      "property": "payload",
      "outputs": 2,
      "name": "",
      "id": "b0b0a4dc.cbbe3",
      "checkall": "true"
    },
    {
      "z": "386c8e12.edccea",
      "y": 300,
      "x": 460,
      "wires": [
        []
      ],
      "type": "change",
      "to": "",
      "rules": [
        {
          "tot": "flow",
          "to": "saved",
          "t": "set",
          "pt": "msg",
          "p": "payload"
        }
      ],
      "reg": false,
      "property": "",
      "name": "",
      "id": "8f2865b3.c71798",
      "from": "",
      "action": ""
    },
    {
      "z": "7102ea3d.1a460c",
      "y": 640,
      "x": 210,
      "wires": [
        [
          "2058edd9.bbe75a"
        ]
      ],
      "type": "inject",
      "repeat": "",
      "payloadType": "json",
      "payload": "null",
      "once": false,
      "name": "",
      "id": "725d1bf6.22af04",
      "crontab": ""
    },
    {
      "z": "7102ea3d.1a460c",
      "y": 580,
      "x": 590,
      "wires": [],
      "type": "debug",
      "srcType": "msg",
      "src": "payload",
      "name": "",
      "level": "info",
      "id": "1a1236bc.885131",
      "console": "false",
      "active": true
    },
    {
      "z": "386c8e12.edccea",
      "y": 400,
      "x": 510,
      "wires": [],
      "type": "debug",
      "srcType": "str",
      "src": "Loading {{flow.saved}}",
      "name": "",
      "level": "info",
      "id": "a1868a69.ad9558",
      "console": "false",
      "active": true
    },
    {
      "z": "7102ea3d.1a460c",
      "y": 720,
      "x": 210,
      "wires": [
        [
          "2058edd9.bbe75a"
        ]
      ],
      "type": "inject",
      "repeat": "",
      "payloadType": "num",
      "payload": "3",
      "once": false,
      "name": "",
      "id": "e5d6d35f.9a306",
      "crontab": ""
    }
  ],
  "enabled": false
}
