test.json
{"options":{"version":525,"flowtime_version":{"minor":17,"major":0}},"module":"Elixir.Workspace_test","id":"test","flowsHash":"139a996cc4e8bdfec4b580609f28ccf7","flows":[{"type":"tab","label":"Reports","id":"1cb0fda2.93399a"},{"type":"tab","label":"Random","id":"1d502bf.8b90e54"},{"type":"tab","label":"Sort","id":"412db3f4.89af44"},{"type":"tab","label":"Templates","id":"7715e05e.0d644"},{"type":"tab","label":"Reduce","id":"bc368a1c.c937"},{"type":"tab","label":"Websockets (background)","id":"2b1b5414.3e2ea4"},{"type":"tab","label":"Filters","id":"ba949245.5cf46"},{"type":"tab","label":"Errors","id":"264b0401.778874"},{"type":"tab","label":"Javascript text","id":"11866ffe.7a94d"},{"type":"tab","label":"HTTP Request","id":"cc50de11.8635"},{"type":"tab","label":"Big SQL","id":"47011044.8363a"},{"type":"tab","label":"Binary File","id":"70038683.b5c25"},{"type":"tab","label":"HTTP Listener","id":"c363439a.871c"},{"type":"tab","label":"Require","id":"8afb9096.d076d"},{"type":"tab","label":"Flow 1","id":"7946a993.89101"},{"type":"tab","label":"Live Preview","id":"755e8ad5.afbfb4"},{"type":"tab","label":"HTTP Auth","id":"2e045a2a.4caab6"},{"type":"subflow","out":[{"y":200,"x":520,"wires":[{"port":0,"id":"f282fe1d.023ee"}]}],"name":"Double","info":"","in":[{"y":30,"x":50,"wires":[{"id":"99c4f590.b388f8"}]}],"id":"7516be82.6f09c8"},{"z":"","wholemsg":"false","type":"websocket-listener","path":"background","id":"63c932b5.15972c"},{"z":"","type":"infinity-client","port":"5222","jid":"gary@belfastpoc.com","issecure":false,"id":"b0fca1e2.954098","hostname":"localhost"},{"z":"","vendor":"postgres","type":"sql-database-connection","servername":"","port":"","id":"c0a144f4.71298","hostname":"localhost","encrypt":false,"database":"flowtime"},{"z":"","wholemsg":"false","type":"websocket-client","path":"ws://localhost:8080/background","id":"e27093ac.7fd588"},{"z":"412db3f4.89af44","y":120,"x":470,"wires":[["f374d159.77bb88"]],"type":"sort","name":"","key":"","id":"59c011d6.918d1","ascending":false},{"z":"412db3f4.89af44","y":20,"x":140,"wires":[["fe250b4a.163a7"]],"type":"inject","topic":"","repeat":"","payloadType":"json","payload":"[1, 4, 2, 5, 3, 6]","once":false,"name":"","id":"122b5920.3b4edf","crontab":""},{"z":"412db3f4.89af44","y":140,"x":670,"wires":[],"type":"debug","name":"","id":"f374d159.77bb88","console":"true","complete":"payload","active":true},{"z":"412db3f4.89af44","y":180,"x":230,"wires":[["d65e2e7c.5fc24"]],"type":"function","outputs":1,"noerr":0,"name":"One-level objects","id":"6dcd601b.221c","func":"msg.payload = [\n    {a: 6, b: 1},\n    {a: 4, b: 4},\n    {a: 3, b: 5},\n    {a: 2, b: 2},\n    {a: 1, b: 3},\n    {a: 5, b: 6}\n];\n\nreturn msg;"},{"z":"412db3f4.89af44","y":320,"x":140,"wires":[["6dcd601b.221c"]],"type":"inject","topic":"","repeat":"","payloadType":"date","payload":"","once":false,"name":"","id":"2f2cd610.bd1822","crontab":""},{"z":"412db3f4.89af44","y":220,"x":430,"wires":[["f374d159.77bb88"]],"type":"sort","name":"","key":"b","id":"d65e2e7c.5fc24","ascending":false},{"z":"412db3f4.89af44","y":360,"x":340,"wires":[["4a2ac3ee.e2c474"]],"type":"function","outputs":1,"noerr":0,"name":"Two-level objects","id":"9e5c6fc1.d3baf","func":"msg.payload = [\n    {a: {b: 1}},\n    {a: {b: 4}},\n    {a: {b: 5}},\n    {a: {b: 2}},\n    {a: {b: 3}},\n    {a: {b: 6}}\n];\n\nreturn msg;"},{"z":"412db3f4.89af44","y":420,"x":100,"wires":[["9e5c6fc1.d3baf"]],"type":"inject","topic":"","repeat":"","payloadType":"date","payload":"","once":false,"name":"","id":"8ddd35c.e74b1c8","crontab":""},{"z":"412db3f4.89af44","y":340,"x":550,"wires":[["f374d159.77bb88"]],"type":"sort","name":"","key":"a.b","id":"4a2ac3ee.e2c474","ascending":false},{"z":"412db3f4.89af44","y":40,"x":390,"wires":[["59c011d6.918d1"],["706ee495.75e104"]],"type":"switch","rules":[{"t":"nempty"},{"t":"else"}],"propertyType":"msg","property":"payload","outputs":2,"name":"Payload Not Empty?","id":"fe250b4a.163a7","checkall":"true"},{"z":"412db3f4.89af44","y":40,"x":660,"wires":[],"type":"debug","name":"EMPTY!","id":"706ee495.75e104","console":"false","complete":"payload","active":true},{"z":"412db3f4.89af44","y":100,"x":170,"wires":[["fe250b4a.163a7"]],"type":"inject","topic":"","repeat":"","payloadType":"json","payload":"[]","once":false,"name":"","id":"91d00e13.374d9","crontab":""},{"z":"412db3f4.89af44","y":540,"x":130,"wires":[["48e67fe4.8c0dc"]],"type":"inject","topic":"","repeat":"","payloadType":"json","payload":"{\"a\": [1,2,3], \"b\": [4,5,6]}","once":false,"name":"","id":"b7f38b00.7b98a","crontab":""},{"z":"412db3f4.89af44","y":500,"x":370,"wires":[["99c212fb.f851c8"],["bdb01f25.d0903"]],"type":"switch","rules":[{"vt":"num","v":"1","t":"eq"},{"t":"else"}],"propertyType":"msg","property":"payload.a[0]","outputs":2,"name":"One?","id":"f47b225b.c87e2","checkall":"false"},{"z":"412db3f4.89af44","y":560,"x":550,"wires":[],"type":"debug","name":"SECOND","id":"bdb01f25.d0903","console":"false","complete":"payload","active":true},{"z":"412db3f4.89af44","y":440,"x":530,"wires":[],"type":"debug","name":"FIRST","id":"99c212fb.f851c8","console":"false","complete":"payload","active":true},{"z":"412db3f4.89af44","y":620,"x":380,"wires":[["2e37c157.a5919e"]],"type":"change","to":"","rules":[{"tot":"num","to":"42","t":"set","pt":"msg","p":"payload.a[0]"}],"reg":false,"property":"","name":"","id":"48e67fe4.8c0dc","from":"","action":""},{"z":"412db3f4.89af44","y":640,"x":620,"wires":[],"type":"debug","name":"","id":"2e37c157.a5919e","console":"false","complete":"false","active":true},{"z":"7715e05e.0d644","y":205,"x":333.5,"wires":[["c7f1acbd.f1f2c8"]],"type":"template","template":"This is the payload: {{payload}}!","syntax":"mustache","name":"","id":"80f6ebdd.7e77a8","format":"handlebars","fieldType":"msg","field":"payload","context":"message"},{"z":"7715e05e.0d644","y":113,"x":137.5,"wires":[["80f6ebdd.7e77a8","b412cdd9.c2046"]],"type":"inject","topic":"","repeat":"","payloadType":"date","payload":"","once":false,"name":"","id":"dacdd84f.ca495","crontab":""},{"z":"7715e05e.0d644","y":140,"x":550,"wires":[],"type":"debug","name":"","id":"c7f1acbd.f1f2c8","console":"true","complete":"payload","active":true},{"z":"7715e05e.0d644","y":325,"x":309,"wires":[["307b889b.c17e58"]],"type":"template","template":"This is the payload: {{msg.payload}}!\n\nThis is the second element of the payload: {{msg.payload[1]}}.\n\nAnd here's what flow has to say: {{flow.first.second}}\n\nAnd the meaning of life is: {{global.meaning.life}}!","syntax":"mustache","name":"","id":"d61e3e47.110f28","format":"handlebars","fieldType":"msg","field":"payload","context":"all"},{"z":"7715e05e.0d644","y":300,"x":610,"wires":[],"type":"debug","name":"","id":"307b889b.c17e58","console":"false","complete":"false","active":true},{"z":"7715e05e.0d644","y":444,"x":194.5,"wires":[["d61e3e47.110f28","7feea371.3a1f8c"]],"type":"change","to":"","rules":[{"tot":"str","to":"Hello, World!","t":"set","pt":"flow","p":"first.second"},{"tot":"num","to":"42","t":"set","pt":"global","p":"meaning.life"},{"tot":"json","to":"[\"a\", \"b\", \"c\", \"d\"]","t":"set","pt":"msg","p":"payload"}],"reg":false,"property":"","name":"","id":"b412cdd9.c2046","from":"","action":""},{"z":"bc368a1c.c937","y":151,"x":287.5,"wires":[["9f135eef.e5331"]],"type":"reduce","name":"","initialValueType":"num","initialValue":"0","id":"16382d1b.1426b3"},{"z":"bc368a1c.c937","y":63,"x":140.5,"wires":[["16382d1b.1426b3","5b48540c.2aa67c"]],"type":"inject","topic":"","repeat":"","payloadType":"json","payload":"[1,2,3,4,5,6,7,8,9,10]","once":false,"name":"","id":"cdb49c04.a57898","crontab":""},{"z":"bc368a1c.c937","y":220,"x":386.5,"wires":[["cdae3980.e73608"]],"type":"function","outputs":1,"noerr":0,"name":"Total","id":"9f135eef.e5331","func":"msg.acc += msg.payload;\n\nreturn msg;"},{"z":"bc368a1c.c937","y":277,"x":647.5,"wires":[["b7023d07.7656d"]],"type":"collect","name":"","id":"cdae3980.e73608"},{"z":"bc368a1c.c937","y":361,"x":901.5,"wires":[],"type":"debug","name":"","id":"b7023d07.7656d","console":"false","complete":"false","active":true},{"z":"bc368a1c.c937","y":212,"x":113.5,"wires":[["16382d1b.1426b3"]],"type":"inject","topic":"","repeat":"","payloadType":"json","payload":"[]","once":false,"name":"","id":"da92ff02.9fc3e","crontab":""},{"z":"bc368a1c.c937","y":351,"x":138.5,"wires":[["c65d0ca0.8255a"]],"type":"inject","topic":"","repeat":"","payloadType":"json","payload":"[1,2,3,4,5,6,7,8,9,10]","once":false,"name":"","id":"2c1ee6cf.936e72","crontab":""},{"z":"bc368a1c.c937","y":407,"x":267.5,"wires":[["33cf299b.a5cdb6"]],"type":"reduce","name":"","initialValueType":"json","initialValue":"[]","id":"c65d0ca0.8255a"},{"z":"bc368a1c.c937","y":524,"x":118.5,"wires":[["a966c614.1a6708"]],"type":"inject","topic":"","repeat":"","payloadType":"json","payload":"{\"a\": 1, \"b\": 2, \"c\": 3}","once":false,"name":"","id":"d9e95342.6b4338","crontab":""},{"z":"bc368a1c.c937","y":568,"x":281.5,"wires":[["b326ef3c.d3334"]],"type":"reduce","name":"","initialValueType":"json","initialValue":"{}","id":"a966c614.1a6708"},{"z":"bc368a1c.c937","y":642,"x":110.5,"wires":[["a966c614.1a6708"]],"type":"inject","topic":"","repeat":"","payloadType":"json","payload":"{}","once":false,"name":"","id":"74c182.7544e68","crontab":""},{"z":"bc368a1c.c937","y":84,"x":508.5,"wires":[["b54fc4a.77fa138"]],"type":"reduce","name":"","initialValueType":"num","initialValue":"0","id":"4dd04b83.27e104"},{"z":"bc368a1c.c937","y":114,"x":669,"wires":[["ff68ad26.869e48"]],"type":"function","outputs":1,"noerr":0,"name":"Count/Total","id":"b54fc4a.77fa138","func":"msg.acc += msg.payload;\nmsg.count++;\n\nreturn msg;"},{"z":"bc368a1c.c937","y":186,"x":811.5,"wires":[["ce7a7ddf.13679"]],"type":"collect","name":"","id":"ff68ad26.869e48"},{"z":"bc368a1c.c937","y":220,"x":934.5,"wires":[["b7023d07.7656d"]],"type":"function","outputs":1,"noerr":0,"name":"Average","id":"ce7a7ddf.13679","func":"msg.payload = msg.payload / msg.count;\n\nnode.status({fill:\"green\",shape:\"dot\",text:\"connected\"});\n\nreturn msg;"},{"z":"bc368a1c.c937","y":35,"x":353.5,"wires":[["4dd04b83.27e104"]],"type":"change","to":"","rules":[{"tot":"num","to":"0","t":"set","pt":"msg","p":"count"}],"reg":false,"property":"","name":"","id":"5b48540c.2aa67c","from":"","action":""},{"z":"bc368a1c.c937","y":765,"x":136.5,"wires":[["ab35cae.bd1a1b8"]],"type":"inject","topic":"","repeat":"","payloadType":"date","payload":"","once":false,"name":"","id":"4605302.6b04f5","crontab":""},{"z":"bc368a1c.c937","y":836,"x":276.5,"wires":[["3c54d3a2.3f0bcc"]],"type":"file in","name":"Read CSV File","id":"ab35cae.bd1a1b8","format":"utf8","filename":"~/Downloads/CommonTime Car Registations - CommonTime.csv"},{"z":"bc368a1c.c937","y":951,"x":513.5,"wires":[["1bba8a48.0b37b6"]],"type":"reduce","separator":"\\r\\n","name":"","initialValueType":"num","initialValue":"","id":"d6c935a8.3672"},{"z":"bc368a1c.c937","y":1028,"x":621,"wires":[["29ad22c5.0eb0f6"]],"type":"function","outputs":1,"noerr":0,"name":"Count/Total","id":"1bba8a48.0b37b6","func":"msg.acc += msg.payload.length;\nmsg.count++;\n\nreturn msg;"},{"z":"bc368a1c.c937","y":1102,"x":737.5,"wires":[["37ec895.29fb8f6"]],"type":"collect","name":"","id":"29ad22c5.0eb0f6"},{"z":"bc368a1c.c937","y":1159,"x":857,"wires":[["77c41da8.64ff9c"]],"type":"function","outputs":1,"noerr":0,"name":"Average","id":"37ec895.29fb8f6","func":"msg.payload = msg.payload / msg.count;\n\nreturn msg;"},{"z":"bc368a1c.c937","y":1257,"x":919.5,"wires":[],"type":"debug","name":"Characters per Line","id":"77c41da8.64ff9c","console":"false","complete":"payload","active":true},{"z":"bc368a1c.c937","y":890,"x":418,"wires":[["d6c935a8.3672"]],"type":"change","to":"","rules":[{"tot":"num","to":"0","t":"set","pt":"msg","p":"count"}],"reg":false,"property":"","name":"","id":"3c54d3a2.3f0bcc","from":"","action":""},{"z":"bc368a1c.c937","y":961,"x":115.5,"wires":[["3c54d3a2.3f0bcc"]],"type":"inject","topic":"","repeat":"","payloadType":"str","payload":"","once":false,"name":"","id":"ac543cac.3a79b8","crontab":""},{"z":"7516be82.6f09c8","y":120,"x":380,"wires":[[]],"type":"function","outputs":1,"noerr":0,"name":"Double Payload","id":"f282fe1d.023ee","func":"msg.payload *= 2;\n\nreturn msg;"},{"z":"7516be82.6f09c8","y":40,"x":200,"wires":[["f282fe1d.023ee"]],"type":"change","to":"","rules":[{"tot":"msg","to":"payload","t":"set","pt":"flow","p":"last"},{"tot":"msg","to":"payload","t":"set","pt":"global","p":"last"}],"reg":false,"property":"","name":"","id":"99c4f590.b388f8","from":"","action":""},{"z":"bc368a1c.c937","y":380,"x":430,"wires":[["d70d2b23.e2c07"]],"type":"subflow:7516be82.6f09c8","name":"Double List","id":"33cf299b.a5cdb6"},{"z":"bc368a1c.c937","y":520,"x":430,"wires":[["dba2b9af.51cf9"]],"type":"subflow:7516be82.6f09c8","name":"Double Map","id":"b326ef3c.d3334"},{"z":"2b1b5414.3e2ea4","y":80,"x":140,"wires":[["73737472.4b7e9c"]],"type":"websocket in","server":"63c932b5.15972c","name":"","id":"9fd0eb91.b65df8","client":""},{"z":"2b1b5414.3e2ea4","y":220,"x":530,"wires":[],"type":"websocket out","server":"","name":"","id":"abf43f16.5d0d7","client":"e27093ac.7fd588"},{"z":"2b1b5414.3e2ea4","y":120,"x":440,"wires":[],"type":"debug","name":"","id":"73737472.4b7e9c","console":"false","complete":"false","active":true},{"z":"2b1b5414.3e2ea4","y":300,"x":160,"wires":[["abf43f16.5d0d7"]],"type":"inject","topic":"","repeat":"","payloadType":"date","payload":"","once":false,"name":"","id":"3624a6d3.afd4d2","crontab":""},{"z":"ba949245.5cf46","y":200,"x":430,"wires":[["e48291ea.00dd3"]],"vt":"flow","v2t":"flow","v2":"bounds.upper","v":"bounds.lower","type":"filter","t":"btwn","name":"","key":"","id":"55cae99a.1f2b7","case":true},{"z":"ba949245.5cf46","y":120,"x":130,"wires":[["55cae99a.1f2b7"]],"type":"inject","topic":"","repeat":"","payloadType":"json","payload":"[1,2,3,4,5,6,7,8,9,10]","once":false,"name":"","id":"5e52d90.12b7ca8","crontab":""},{"z":"ba949245.5cf46","y":320,"x":730,"wires":[],"type":"debug","name":"","id":"e48291ea.00dd3","console":"false","complete":"payload","active":true},{"z":"ba949245.5cf46","y":300,"x":110,"wires":[["55cae99a.1f2b7"]],"type":"inject","topic":"","repeat":"","payloadType":"json","payload":"{\"a\": 1, \"b\": 2, \"c\": 3, \"d\": 4, \"e\": 5, \"f\":6 , \"g\": 7, \"h\": 8, \"i\": 9, \"j\": 10}","once":false,"name":"","id":"d7036047.0af2c","crontab":""},{"z":"ba949245.5cf46","y":460,"x":130,"wires":[["2c95e1e0.005496"]],"type":"inject","topic":"","repeat":"","payloadType":"json","payload":"[{\"a\": 1}, {\"a\": 2}, {\"a\": 3}, {\"a\": 4}, {\"a\": 5}, {\"a\": 6}, {\"a\": 7}, {\"a\": 8}, {\"a\": 9}, {\"a\": 10}]","once":false,"name":"","id":"e3e4812e.4773a8","crontab":""},{"z":"ba949245.5cf46","y":340,"x":390,"wires":[["e48291ea.00dd3"]],"vt":"num","v2t":"str","v2":"","v":"5","type":"filter","t":"gt","name":"","key":"a","id":"2c95e1e0.005496","case":false},{"z":"ba949245.5cf46","y":520,"x":330,"wires":[["a34d596b.e103e","1bad507e.52ca98"]],"type":"function","outputs":1,"noerr":0,"name":"","id":"7911ac7c.2df8e4","func":"msg.payload = [\n    {a: {b: {c: 1}}},\n    {a: {b: {c: 2}}},\n    {a: {b: {c: 3}}},\n    {a: {b: {c: 4}}},\n    {a: {b: {c: 5}}},\n    {a: {b: {c: 6}}},\n    {a: {b: {c: 7}}},\n    {a: {b: {c: 8}}},\n    {a: {b: {c: 9}}},\n    {a: {b: {c: 10}}}\n];\n    \nreturn msg;"},{"z":"ba949245.5cf46","y":540,"x":120,"wires":[["7911ac7c.2df8e4"]],"type":"inject","topic":"","repeat":"","payloadType":"date","payload":"","once":false,"name":"","id":"da051d7b.ccf7d","crontab":""},{"z":"ba949245.5cf46","y":440,"x":520,"wires":[["e48291ea.00dd3"]],"vt":"num","v2t":"num","v2":"6","v":"3","type":"filter","t":"btwn","name":"","key":"a.b.c","id":"a34d596b.e103e","case":false},{"z":"ba949245.5cf46","y":660,"x":130,"wires":[["97f4e636.7e1bc8"]],"type":"inject","topic":"","repeat":"","payloadType":"str","payload":"Hello!","once":false,"name":"","id":"fd144973.9b75d","crontab":""},{"z":"ba949245.5cf46","y":720,"x":360,"wires":[["b17382d8.50a538"]],"vt":"str","v2t":"str","v2":"","v":"Hello","type":"filter","t":"ncont","name":"","key":"","id":"97f4e636.7e1bc8","case":true},{"z":"ba949245.5cf46","y":720,"x":590,"wires":[],"type":"debug","name":"","id":"b17382d8.50a538","console":"false","complete":"false","active":true},{"z":"ba949245.5cf46","y":800,"x":110,"wires":[["c5f33237.9f13a8"]],"type":"inject","topic":"","repeat":"","payloadType":"json","payload":"[1, 2, 3, 4, null, 5, 6, null, 7, null, 8, 9, null, null, 10]","once":false,"name":"","id":"1d75ef0b.1d5a51","crontab":""},{"z":"ba949245.5cf46","y":840,"x":420,"wires":[["b17382d8.50a538"]],"vt":"str","v2t":"str","v2":"","v":"","type":"filter","t":"nempty","name":"","key":"","id":"c5f33237.9f13a8","case":false},{"z":"ba949245.5cf46","y":40,"x":140,"wires":[["41a12e3e.b3b678"]],"type":"inject","topic":"","repeat":"","payloadType":"date","payload":"","once":true,"name":"","id":"d0db27e1.6676e8","crontab":""},{"z":"ba949245.5cf46","y":60,"x":420,"wires":[[]],"type":"change","to":"","rules":[{"tot":"num","to":"3","t":"set","pt":"flow","p":"bounds.lower"},{"tot":"num","to":"6","t":"set","pt":"flow","p":"bounds.upper"}],"reg":false,"property":"","name":"","id":"41a12e3e.b3b678","from":"","action":""},{"z":"412db3f4.89af44","y":760,"x":390,"wires":[["49639a6.dc967e4"],["2de26904.1edd56"]],"type":"switch","rules":[{"vt":"prev","v":"","t":"neq"},{"t":"else"}],"propertyType":"msg","property":"payload","outputs":2,"name":"","id":"7e7b1c6c.b28edc","checkall":"true"},{"z":"412db3f4.89af44","y":680,"x":110,"wires":[["fc101c18.34712"]],"type":"inject","topic":"","repeat":"","payloadType":"json","payload":"[1,2,3,4,4,4,5,6,6,7,8,9,10,10]","once":false,"name":"","id":"1f245988.78e25e","crontab":""},{"z":"412db3f4.89af44","y":700,"x":250,"wires":[["7e7b1c6c.b28edc"]],"type":"reduce","separator":"\\n","name":"","initialValueType":"json","initialValue":"[]","id":"fc101c18.34712"},{"z":"412db3f4.89af44","y":780,"x":690,"wires":[["90e46e0a.a495f8"]],"type":"collect","name":"","id":"2de26904.1edd56"},{"z":"412db3f4.89af44","y":880,"x":780,"wires":[],"type":"debug","name":"","id":"90e46e0a.a495f8","console":"false","complete":"false","active":true},{"z":"412db3f4.89af44","y":700,"x":570,"wires":[["2de26904.1edd56"]],"type":"accumulate","op":"push","name":"","id":"49639a6.dc967e4"},{"z":"412db3f4.89af44","y":920,"x":150,"wires":[["599bba60.14c254"]],"type":"inject","topic":"","repeat":"","payloadType":"json","payload":"[1,2,3,4,5,6,7,8,9,10]","once":false,"name":"","id":"7fd32430.f9a614","crontab":""},{"z":"412db3f4.89af44","y":980,"x":360,"wires":[["b8237d78.db65f"]],"type":"reduce","separator":"\\n","name":"","initialValueType":"num","initialValue":"1","id":"599bba60.14c254"},{"z":"412db3f4.89af44","y":1040,"x":520,"wires":[["8e346f71.aba028"]],"type":"accumulate","op":"multiply","name":"","id":"b8237d78.db65f"},{"z":"412db3f4.89af44","y":1100,"x":700,"wires":[["2081739d.b082fc"]],"type":"collect","name":"","id":"8e346f71.aba028"},{"z":"412db3f4.89af44","y":1020,"x":810,"wires":[],"type":"debug","name":"","id":"2081739d.b082fc","console":"false","complete":"false","active":true},{"z":"bc368a1c.c937","y":660,"x":500,"wires":[["cdae3980.e73608"]],"type":"accumulate","op":"set","name":"","id":"dba2b9af.51cf9"},{"z":"bc368a1c.c937","y":460,"x":480,"wires":[["cdae3980.e73608"]],"type":"accumulate","op":"push","name":"","id":"d70d2b23.e2c07"},{"z":"7715e05e.0d644","y":420,"x":390,"wires":[["307b889b.c17e58"]],"type":"template","template":"The meaning of life is: {{global.meaning.life}}!\n","syntax":"mustache","name":"","id":"7feea371.3a1f8c","format":"handlebars","fieldType":"msg","field":"payload","context":"all"},{"z":"ba949245.5cf46","y":560,"x":540,"wires":[["8dbe393e.5d8c98"],["3062bc19.c26364"]],"type":"elixir","script":"if 1 < 2 do\n    [nil, msg]\nelse\n    [msg, nil]\nend","outputs":"2","name":"","id":"1bad507e.52ca98"},{"z":"ba949245.5cf46","y":540,"x":740,"wires":[],"type":"debug","name":"","id":"8dbe393e.5d8c98","console":"false","complete":"false","active":true},{"z":"ba949245.5cf46","y":640,"x":760,"wires":[],"type":"debug","name":"","id":"3062bc19.c26364","console":"false","complete":"false","active":true},{"z":"1d502bf.8b90e54","y":80,"x":110,"wires":[["28a2afd.c8040d"]],"type":"inject","topic":"","repeat":"","payloadType":"json","payload":"{\"lower\": 10, \"upper\": 20}","once":false,"name":"","id":"c57d9727.fda06","crontab":""},{"z":"1d502bf.8b90e54","y":240,"x":490,"wires":[],"type":"debug","name":"","id":"e3224e58.859f58","console":"true","complete":"payload","active":true},{"z":"1d502bf.8b90e54","y":160,"x":280,"wires":[["e3224e58.859f58"]],"whole":false,"ubt":"msg","ub":"payload.upper","type":"random","stddevt":"num","stddev":"10","name":"","meant":"num","mean":"100","lbt":"msg","lb":"payload.lower","id":"28a2afd.c8040d","distribution":"normal","destt":"msg","dest":"payload"},{"z":"1cb0fda2.93399a","y":240,"x":370,"wires":[["fcc194ea.38f558"]],"type":"infinity","to":"apibot","subdomain":"api","name":"","id":"7d1ccf70.ace088","client":"b0fca1e2.954098","call":"requestreport"},{"z":"1cb0fda2.93399a","y":360,"x":490,"wires":[],"type":"debug","name":"","id":"fcc194ea.38f558","console":"false","complete":"payload","active":true},{"z":"1cb0fda2.93399a","y":160,"x":210,"wires":[["7d1ccf70.ace088"]],"type":"function","outputs":1,"noerr":0,"name":"","id":"5a7f8532.84fcdc","func":"var requestreport = {\n    senderjid: \"gary@belfastpoc.com\",\n    senderresource: \"\",\n    sendername: \"\",\n    version: 1,\n\n    id: msg.payload,\n    type: \"opened\",\n    startdate: Date.now() - 365 * 24 * 60 * 60 * 1000,\n    enddate: Date.now(),\n    notify: true\n};\n\nmsg.payload = {\n    requestreport: JSON.stringify(requestreport)\n};\n\nreturn msg;"},{"z":"1cb0fda2.93399a","y":40,"x":100,"wires":[["5a7f8532.84fcdc"]],"type":"inject","topic":"","repeat":"","payloadType":"date","payload":"","once":false,"name":"","id":"e1697d1c.b0e4a","crontab":""},{"z":"264b0401.778874","y":140,"x":290,"wires":[["937fac50.719b88"]],"type":"elixir","script":"Context.set flow, \"hello\", 4 / msg[\"payload\"]\nmsg","outputs":1,"name":"Elixir","id":"13a18a96.7ac6ed"},{"z":"264b0401.778874","y":100,"x":110,"wires":[["4bbc1d39.5906c4"]],"type":"inject","topic":"","repeat":"","payloadType":"num","payload":"0","once":false,"name":"","id":"efdd5d60.1a35e","crontab":""},{"z":"264b0401.778874","y":260,"x":480,"wires":[["515e4284.1f96b4"]],"type":"change","to":"","rules":[{"tot":"flow","to":"hello","t":"set","pt":"msg","p":"payload"}],"reg":false,"property":"","name":"","id":"937fac50.719b88","from":"","action":""},{"z":"264b0401.778874","y":400,"x":630,"wires":[],"type":"debug","name":"","id":"515e4284.1f96b4","console":"false","complete":"false","active":true},{"z":"264b0401.778874","y":340,"x":300,"wires":[["515e4284.1f96b4"]],"type":"function","outputs":1,"noerr":0,"name":"Get nowt","id":"4bbc1d39.5906c4","func":"msg.payload = 1 / msg.zero.nowt;\n\nreturn msg;"},{"z":"264b0401.778874","y":500,"x":220,"wires":[["15a9d0d6.c44287"]],"type":"template","template":"{\n    \"a\": 43,\n    \"b\": \"hello\"!±,\n    \"c\": [1,2,3,4]\n}","syntax":"mustache","name":"","id":"343ae2a6.918afe","format":"json","fieldType":"msg","field":"payload","context":"message"},{"z":"264b0401.778874","y":500,"x":420,"wires":[["515e4284.1f96b4"]],"type":"json","name":"","id":"15a9d0d6.c44287"},{"z":"11866ffe.7a94d","y":140,"x":130,"wires":[["b8b4496f.2325e"]],"type":"inject","topic":"","repeat":"","payloadType":"str","payload":"Héllo wørld\\r\\n300µs","once":false,"name":"","id":"4947fdbb.b196fc","crontab":""},{"z":"11866ffe.7a94d","y":220,"x":270,"wires":[["c4781e40.8a0278"]],"type":"function","outputs":1,"noerr":0,"name":"","id":"3a76c613.f73942","func":"msg.payload += \"!\";\n\nconsole.log(\"Aboüt tø return...\" + flow.get('meaning').life);\nnode.log(\"Aboüt tø return...\");\nnode.warn(\"Aboüt tø return...\" + global.get('thingy'));\nnode.error(\"Aboüt tø return...\");\n\nnode.status({fill: 'green', shape: 'dot', text: 'tést'});\n\nreturn msg;"},{"z":"11866ffe.7a94d","y":300,"x":410,"wires":[],"type":"debug","name":"","id":"c4781e40.8a0278","console":"true","complete":"payload","active":true},{"z":"11866ffe.7a94d","y":440,"x":230,"wires":[["9915163e.70c83"]],"type":"file in","name":"","id":"9396f508.ba239","format":"utf8","filename":"~/Downloads/anonymous.json"},{"z":"11866ffe.7a94d","y":320,"x":100,"wires":[["9396f508.ba239"]],"type":"inject","topic":"","repeat":"","payloadType":"date","payload":"","once":false,"name":"","id":"b2c1f3bf.19fa18","crontab":""},{"z":"11866ffe.7a94d","y":540,"x":380,"wires":[["c4781e40.8a0278"]],"type":"function","outputs":1,"noerr":0,"name":"","id":"9915163e.70c83","func":"msg.payload = JSON.parse(msg.payload);\n\nreturn msg;"},{"z":"11866ffe.7a94d","y":680,"x":260,"wires":[["de261637.22afe8"]],"type":"function","outputs":1,"noerr":0,"name":"","id":"c90165cd.3c3dc","func":"msg.payload = Buffer.from(\"Hello, world!\");\n\nvar bufferJSON = '{\"type\": \"Buffer\", \"data\": [1,2,3,4]}';\nvar buffer = JSON.parse(bufferJSON);\n\nconsole.log(buffer.length);\n\nreturn msg;"},{"z":"11866ffe.7a94d","y":620,"x":120,"wires":[["c90165cd.3c3dc"]],"type":"inject","topic":"","repeat":"","payloadType":"date","payload":"","once":false,"name":"","id":"d0cfcaad.6df838","crontab":""},{"z":"11866ffe.7a94d","y":700,"x":460,"wires":[],"type":"debug","name":"","id":"de261637.22afe8","console":"true","complete":"payload","active":true},{"z":"11866ffe.7a94d","y":80,"x":420,"wires":[["3a76c613.f73942"]],"type":"change","to":"","rules":[{"tot":"num","to":"42","t":"set","pt":"flow","p":"meaning.life"},{"tot":"str","to":"(see) like, shaped","t":"set","pt":"global","p":"thingy"}],"reg":false,"property":"","name":"","id":"b8b4496f.2325e","from":"","action":""},{"z":"cc50de11.8635","y":120,"x":120,"wires":[["6fbcd34f.e285b4"]],"type":"inject","topic":"","repeat":"","payloadType":"date","payload":"","once":false,"name":"","id":"bbda5998.51c4c","crontab":""},{"z":"cc50de11.8635","y":200,"x":250,"wires":[["e5f26d03.eccdd"]],"url":"https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png","type":"http request","tls":"","ret":"bin","name":"","method":"GET","id":"6fbcd34f.e285b4"},{"z":"47011044.8363a","y":120,"x":140,"wires":[["8b977040.23108"]],"type":"inject","topic":"","repeat":"","payloadType":"date","payload":"","once":false,"name":"","id":"2f29e55c.9f63da","crontab":""},{"z":"47011044.8363a","y":180,"x":320,"wires":[["956ee9bb.b861a8"]],"type":"sql","query":"INSERT INTO messages\n(\n    messageid,\n    messageref,\n    sentby,\n    imclientref,\n    sentto,\n    method,\n    service,\n    messagecontent,\n    sent,\n    received,\n    status\n)\nSELECT\n    {{msg.payload.messageid}},\n    {{msg.payload.ref}},\n    {{msg.payload.from}},\n    {{msg.payload.imclientref}},\n    {{msg.payload.to}},\n    {{msg.payload.method}},\n    {{msg.payload.service}},\n    {{msg.payload.messagecontent}},\n    to_timestamp({{msg.payload.sent}}, 'YYYY-MM-DD hh24:mi:ss')::timestamp without time zone,\n    to_timestamp({{msg.payload.received}}, 'YYYY-MM-DD hh24:mi:ss')::timestamp without time zone,\n    'new'\nWHERE NOT EXISTS \n    (SELECT 1 FROM messages WHERE messageref={{msg.payload.ref}});","name":"","id":"8b977040.23108","connection":"c0a144f4.71298"},{"z":"47011044.8363a","y":220,"x":490,"wires":[],"type":"debug","name":"","id":"956ee9bb.b861a8","console":"false","complete":"false","active":true},{"z":"70038683.b5c25","y":180,"x":240,"wires":[["ae3c8fcc.a5605","5e00bf9c.6bf1c","a8872b39.abea78"]],"type":"file in","name":"","id":"2d137d92.32f0ea","format":"utf8","filename":"~/Downloads/test.png"},{"z":"70038683.b5c25","y":100,"x":100,"wires":[["2d137d92.32f0ea"]],"type":"inject","topic":"","repeat":"","payloadType":"date","payload":"","once":false,"name":"","id":"e3ed0942.c04ec8","crontab":""},{"z":"70038683.b5c25","y":120,"x":450,"wires":[["63fcdec.c67cfa"]],"type":"function","outputs":1,"noerr":0,"name":"","id":"ae3c8fcc.a5605","func":"var buffer = msg.payload;\n\nif (buffer.readUInt8(0) == 0x89 &&\n    buffer.readUInt8(1) == 0x50 &&\n    buffer.readUInt8(2) == 0x4e && \n    buffer.readUInt8(3) == 0x47 &&\n    buffer.readUInt8(4) == 0x0d &&\n    buffer.readUInt8(5) == 0x0a &&\n    buffer.readUInt8(6) == 0x1a &&\n    buffer.readUInt8(7) == 0x0a) {\n    console.log('Have a PNG');\n\n    msg.payload = {\n        contentType: \"image/png\",\n        data: msg.payload\n    };\n} else {\n    console.log('Do not have a PNG');\n    \n    msg.payload = {\n        contentType: \"application/octet-stream\",\n        data: msg.payload\n    };\n}\n\nreturn msg;"},{"z":"70038683.b5c25","y":180,"x":610,"wires":[],"type":"debug","name":"","id":"63fcdec.c67cfa","console":"true","complete":"payload","active":true},{"z":"70038683.b5c25","y":40,"x":430,"wires":[],"type":"debug","name":"Read","id":"5e00bf9c.6bf1c","console":"true","complete":"id","active":true},{"z":"70038683.b5c25","y":340,"x":430,"wires":[["27065c96.6bb054"]],"type":"function","outputs":1,"noerr":0,"name":"Pass through","id":"8ec48f1c.14259","func":"\nreturn msg;"},{"z":"70038683.b5c25","y":420,"x":510,"wires":[],"type":"file","overwriteFile":"true","name":"","id":"27065c96.6bb054","filename":"~/Downloads/written.png","createDir":false,"appendNewline":false},{"z":"70038683.b5c25","y":260,"x":370,"wires":[["8ec48f1c.14259"]],"type":"change","to":"","rules":[{"t":"delete","pt":"msg","p":"filename"}],"reg":false,"property":"","name":"","id":"a8872b39.abea78","from":"","action":""},{"z":"70038683.b5c25","y":560,"x":150,"wires":[["a813af9c.9b2ed"]],"type":"inject","topic":"","repeat":"","payloadType":"str","payload":"This is a test string","once":false,"name":"","id":"b6d97290.b464d8","crontab":""},{"z":"70038683.b5c25","y":580,"x":430,"wires":[],"type":"file","overwriteFile":"false","name":"","id":"a813af9c.9b2ed","filename":"~/Downloads/test.txt","createDir":false,"appendNewline":true},{"z":"cc50de11.8635","y":300,"x":410,"wires":[],"type":"file","overwriteFile":"false","name":"","id":"e5f26d03.eccdd","filename":"~/Downloads/downloaded.png","createDir":false,"appendNewline":true},{"z":"c363439a.871c","y":120,"x":160,"wires":[["c4fc4328.8f96f8","4005d87c.6ff968","b67b0817.00dac8"]],"url":"/uploads","type":"http in","swaggerDoc":"","name":"","method":"post","id":"600202da.561094"},{"z":"c363439a.871c","y":380,"x":450,"wires":[],"type":"file","overwriteFile":"true","name":"","id":"d27c784c.5c33d","filename":"","createDir":false,"appendNewline":false},{"z":"c363439a.871c","y":100,"x":480,"wires":[],"type":"http response","name":"","id":"c4fc4328.8f96f8"},{"z":"c363439a.871c","y":200,"x":340,"wires":[],"type":"debug","name":"","id":"4005d87c.6ff968","console":"true","complete":"true","active":true},{"z":"c363439a.871c","y":360,"x":180,"wires":[["d27c784c.5c33d"]],"type":"function","outputs":1,"noerr":0,"name":"","id":"b67b0817.00dac8","func":"msg.req.body.forEach(function(part) {\n    var regex = /filename=\\\"?([^\\\"]+)\\\"?/;\n    var result = regex.exec(part.headers['content-disposition']);\n    var filename = \"~/uploads/\" + (result.length == 2 ? result[1] : \"upload.bin\");\n\n    node.send({filename: filename, payload: part.body});\n});\n\nreturn null;\n"},{"z":"cc50de11.8635","y":860,"x":550,"wires":[["cc46752c.77cf1"]],"url":"http://localhost:8080/uploads","type":"http request","tls":"","ret":"txt","name":"Upload","method":"POST","id":"11ec9bb3.7f5e9c"},{"z":"cc50de11.8635","y":380,"x":120,"wires":[["e89c992f.a448e"]],"type":"inject","topic":"","repeat":"","payloadType":"date","payload":"","once":false,"name":"","id":"435e8147.042a58","crontab":""},{"z":"cc50de11.8635","y":920,"x":630,"wires":[],"type":"debug","name":"","id":"cc46752c.77cf1","console":"false","complete":"false","active":true},{"z":"cc50de11.8635","y":460,"x":200,"wires":[["71fe0153.320158"]],"type":"file in","name":"","id":"e89c992f.a448e","format":"utf8","filename":"~/Downloads/test.png"},{"z":"cc50de11.8635","y":780,"x":470,"wires":[["11ec9bb3.7f5e9c"]],"type":"function","outputs":1,"noerr":0,"name":"Make Parts","id":"a75e367f.c0a458","func":"msg.payload = [\n    {body: flow.get('text'), filename: 'flow.txt'},\n    {body: flow.get('image'), filename: 'flow.png'},\n    {body: {a: 1, b: true, c: null}, filename: 'flow.json'}\n];\n\n//console.log(JSON.stringify(msg.payload));\n    \nreturn msg;"},{"z":"cc50de11.8635","y":620,"x":320,"wires":[["aaf690a6.3d378"]],"type":"file in","name":"","id":"598c38dd.330478","format":"utf8","filename":"~/Downloads/test.txt"},{"z":"cc50de11.8635","y":540,"x":260,"wires":[["598c38dd.330478"]],"type":"change","to":"","rules":[{"tot":"msg","to":"payload","t":"set","pt":"flow","p":"image"}],"reg":false,"property":"","name":"","id":"71fe0153.320158","from":"","action":""},{"z":"cc50de11.8635","y":700,"x":390,"wires":[["a75e367f.c0a458"]],"type":"change","to":"","rules":[{"tot":"msg","to":"payload","t":"set","pt":"flow","p":"text"}],"reg":false,"property":"","name":"","id":"aaf690a6.3d378","from":"","action":""},{"z":"8afb9096.d076d","y":120,"x":160,"wires":[["d45d05ce.679348","6a93838e.90b77c"]],"type":"inject","topic":"","repeat":"","payloadType":"date","payload":"","once":false,"name":"","id":"247fc464.ee7b5c","crontab":""},{"z":"8afb9096.d076d","y":200,"x":340,"wires":[["64eed9b2.8f4a"]],"type":"function","outputs":1,"noerr":0,"name":"Parse XML","id":"d45d05ce.679348","func":"var xml2js = require('xml2js');\nvar parser = new xml2js.Parser();\nvar xml = '<?xml version=\"1.0\" encoding=\"UTF-8\"?><note>' +\n  '<to>Tove</to>' +\n  '<from>Jani</from>' +\n  '<heading>Reminder</heading>' +\n  '<body>Don\\'t forget me this weekend!</body>'+\n  '</note>';\n\nparser.parseString(xml, function(error, result) {\n    if (error) {\n        node.status({fill:'red', shape: 'ring', text: 'parse error'});\n    } else {\n        msg.payload = result;\n        \n        node.send(msg);\n    }\n    \n});\n\nreturn null;\n"},{"z":"8afb9096.d076d","y":260,"x":520,"wires":[],"type":"debug","name":"","id":"64eed9b2.8f4a","console":"true","complete":"payload","active":true},{"z":"8afb9096.d076d","y":380,"x":300,"wires":[[]],"type":"function","outputs":1,"noerr":0,"name":"","id":"6a93838e.90b77c","func":"var Benchmark = require('benchmark');\nvar suite = new Benchmark.Suite();\n\n// add tests\nsuite.add('RegExp#test', function() {\n  /o/.test('Hello World!');\n})\n.add('String#indexOf', function() {\n  'Hello World!'.indexOf('o') > -1;\n})\n// add listeners\n.on('cycle', function(event) {\n  console.log(String(event.target));\n})\n.on('complete', function() {\n  console.log('Fastest is ' + this.filter('fastest').map('name'));\n})\n// run async\n.run({ 'async': true });\n\nreturn msg;"},{"z":"7946a993.89101","y":80,"x":120,"wires":[["2281ea43.300246","6ff332f8.73460c"]],"type":"elixir","script":"payload = Enum.into 1..10000, []\n\nMap.put msg, \"payload\", payload","outputs":1,"name":"","id":"64c1c9cb.37c69"},{"z":"7946a993.89101","y":180,"x":260,"wires":[["a2e18525.df78d"]],"type":"reduce","separator":"\\n","name":"","initialValueType":"json","initialValue":"[]","id":"2281ea43.300246"},{"z":"7946a993.89101","y":240,"x":430,"wires":[["6e1f4c5a.1e2b54"]],"type":"function","outputs":1,"noerr":0,"name":"","id":"a2e18525.df78d","func":"msg.acc.push(msg.payload);\n\nreturn msg;"},{"z":"7946a993.89101","y":400,"x":490,"wires":[["aab8ab1e.c72c2"]],"type":"collect","name":"","id":"6e1f4c5a.1e2b54"},{"z":"7946a993.89101","y":320,"x":140,"wires":[["64c1c9cb.37c69"]],"type":"inject","topic":"","repeat":"","payloadType":"date","payload":"","once":false,"name":"","id":"dada2bdb.7aeb","crontab":""},{"z":"7946a993.89101","y":80,"x":310,"wires":[],"type":"debug","name":"JS Start","id":"6ff332f8.73460c","console":"true","complete":"id","active":true},{"z":"7946a993.89101","y":360,"x":660,"wires":[],"type":"debug","name":"JS End","id":"aab8ab1e.c72c2","console":"true","complete":"id","active":true},{"z":"755e8ad5.afbfb4","y":100,"x":210,"wires":[["cc8622f7.92b608","77aeeb04.2eff8c"]],"url":"/livepreview","type":"http in","swaggerDoc":"","name":"","method":"post","id":"b473ee91.84209"},{"z":"755e8ad5.afbfb4","y":180,"x":420,"wires":[["4f9b11b6.356a1"]],"type":"template","template":"{\n    \"a\": 1,\n    \"b\": 2,\n    \"c\": 3\n}","syntax":"mustache","name":"","id":"cc8622f7.92b608","format":"json","fieldType":"msg","field":"payload","context":"message"},{"z":"755e8ad5.afbfb4","y":320,"x":520,"wires":[["28b58962.028866"]],"type":"json","name":"","id":"4f9b11b6.356a1"},{"z":"755e8ad5.afbfb4","y":400,"x":620,"wires":[],"type":"http response","name":"","id":"28b58962.028866"},{"z":"7946a993.89101","y":440,"x":110,"wires":[["99704f0d.9b611","4666ba92.50e444"]],"type":"elixir","script":"payload = Enum.into 1..10000, []\n\nMap.put msg, \"payload\", payload","outputs":1,"name":"","id":"d4cfa0b6.9481d8"},{"z":"7946a993.89101","y":540,"x":250,"wires":[["ec8cccf4.0c66e8"]],"type":"reduce","separator":"\\n","name":"","initialValueType":"json","initialValue":"[]","id":"99704f0d.9b611"},{"z":"7946a993.89101","y":760,"x":480,"wires":[["7b652cb6.5d7e54"]],"type":"collect","name":"","id":"8290c2c2.88119"},{"z":"7946a993.89101","y":680,"x":130,"wires":[["d4cfa0b6.9481d8"]],"type":"inject","topic":"","repeat":"","payloadType":"date","payload":"","once":false,"name":"","id":"eb178ec1.f3b958","crontab":""},{"z":"7946a993.89101","y":440,"x":300,"wires":[],"type":"debug","name":"Ex Start","id":"4666ba92.50e444","console":"true","complete":"id","active":true},{"z":"7946a993.89101","y":720,"x":640,"wires":[],"type":"debug","name":"Ex End","id":"7b652cb6.5d7e54","console":"true","complete":"id","active":true},{"z":"7946a993.89101","y":620,"x":390,"wires":[["8290c2c2.88119"]],"type":"elixir","script":"Map.put msg, \"acc\", [msg[\"payload\"] | msg[\"acc\"]]","outputs":1,"name":"","id":"ec8cccf4.0c66e8"},{"z":"755e8ad5.afbfb4","y":120,"x":660,"wires":[],"type":"debug","name":"","id":"77aeeb04.2eff8c","console":"true","complete":"true","active":true},{"z":"70038683.b5c25","y":640,"x":120,"wires":[["51a0c713.3b0e78"]],"type":"inject","topic":"","repeat":"","payloadType":"date","payload":"","once":false,"name":"","id":"f0e41319.cbe7a","crontab":""},{"z":"70038683.b5c25","y":700,"x":290,"wires":[["d6d77277.bb941"]],"type":"function","outputs":1,"noerr":0,"name":"","id":"51a0c713.3b0e78","func":"\nreturn msg;"},{"z":"70038683.b5c25","y":720,"x":490,"wires":[],"type":"debug","name":"","id":"d6d77277.bb941","console":"false","complete":"false","active":true},{"z":"2e045a2a.4caab6","y":200,"x":220,"wires":[["1f43b579.0abf9b"]],"url":"/authenticated","type":"http in","swaggerDoc":"","name":"","method":"get","id":"1e7ad78b.a7adb8"},{"z":"2e045a2a.4caab6","y":340,"x":300,"wires":[["3eaa44d3.36a154"],["e897a7d3.273cf"]],"useCookies":true,"type":"http auth","table":"test","realm":"","name":"","id":"1f43b579.0abf9b","cookiePath":"/","cookieName":"auth","cookieDurationUnits":"days","cookieDuration":"1"},{"z":"2e045a2a.4caab6","y":280,"x":500,"wires":[],"type":"http response","name":"","id":"3eaa44d3.36a154"},{"z":"2e045a2a.4caab6","y":400,"x":490,"wires":[],"type":"http response","name":"","id":"e897a7d3.273cf"}],"enabled":false}